<?xml version="1.0" encoding="utf-8"?>
<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Event with EventHandler&lt;T&gt; (With Comments)</Title>
            <Shortcut>getxc</Shortcut>
            <Description>Event with EventHandler&lt;T&gt; (with comments).</Description>
            <Author>Josef Pihrt</Author>
            <SnippetTypes>
                <SnippetType>Expansion</SnippetType>
            </SnippetTypes>
        </Header>
        <Snippet>
            <Imports>
                <Import>
                    <Namespace>System</Namespace>
                </Import>
            </Imports>
            <Declarations>
                <Literal>
                    <ID>comment</ID>
                    <ToolTip>Event description</ToolTip>
                    <Default>...</Default>
                </Literal>
                <Literal>
                    <ID>event</ID>
                    <ToolTip>Event name</ToolTip>
                    <Default>EventName</Default>
                </Literal>
                <Literal>
                    <ID>eventargs</ID>
                    <ToolTip>EventArgs name</ToolTip>
                    <Default>EventArgs</Default>
                </Literal>
            </Declarations>
            <Code Language="CSharp"><![CDATA[/// <summary>
/// Raises the <see cref="$event$"/> event.
/// </summary>
/// <param name="e">An <see cref="$eventargs$"/> that contains the event data.</param>
protected virtual void On$event$($eventargs$ e)
{
    EventHandler<$eventargs$> handler = $event$;
    if (handler != null)
        handler(this, e);
}

/// <summary>
/// Occurs when $comment$
/// </summary>
public event EventHandler<$eventargs$> $event$;$end$]]></Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>