<?xml version="1.0" encoding="utf-8"?>
<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Variable StreamReader Read Lines</Title>
            <Shortcut>vsmrr</Shortcut>
            <Description>StreamReader variable declaration (read lines).</Description>
            <Author>Josef Pihrt</Author>
            <SnippetTypes>
                <SnippetType>Expansion</SnippetType>
            </SnippetTypes>
            <Keywords>
                <Keyword>NonUniqueShortcut</Keyword>
            </Keywords>
        </Header>
        <Snippet>
            <Imports>
                <Import>
                    <Namespace>System.IO</Namespace>
                </Import>
            </Imports>
            <Declarations>
                <Literal>
                    <ID>arguments</ID>
                    <ToolTip>StreamReader arguments</ToolTip>
                    <Default>arguments</Default>
                </Literal>
                <Literal>
                    <ID>name</ID>
                    <ToolTip>Variable name</ToolTip>
                    <Default>sr</Default>
                </Literal>
            </Declarations>
            <Code Language="CSharp"><![CDATA[using (var $name$ = new StreamReader($arguments$))
{
    string line = null;
    while ((line = $name$.ReadLine()) != null)
    {
        $end$
    }
}]]></Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>