<?xml version="1.0" encoding="utf-8"?>
<!--Copyright (c) Josef Pihrt. All rights reserved. Licensed under the Apache License, Version 2.0.-->
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>ViewModel Command</Title>
            <Shortcut>viewmodelcommand</Shortcut>
            <Description>Implementation of delegate (relay) command in ViewModel.</Description>
            <Author>Josef Pihrt</Author>
            <SnippetTypes>
                <SnippetType>Expansion</SnippetType>
            </SnippetTypes>
        </Header>
        <Snippet>
            <Declarations>
                <Literal>
                    <ID>name</ID>
                    <ToolTip>Command name</ToolTip>
                    <Default>Do</Default>
                </Literal>
                <Literal>
                    <ID>typename</ID>
                    <ToolTip>Command type name</ToolTip>
                    <Default>Delegate</Default>
                </Literal>
            </Declarations>
            <Code Language="CSharp"><![CDATA[//$name$Command = new $typename$Command($name$);

public void $name$(object parameter)
{
    $end$
}

public $typename$Command $name$Command { get; }]]></Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>